.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a784a7;
  padding: 3rem 2rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;
}

/* Ajuste opcional do Swiper */
.swiper {
  width: 100%;
}

.swiper :global(.swiper-wrapper) {
  display: flex;
  align-items: stretch;
}

.swiper :global(.swiper-slide) {
  align-items: stretch;
  display: flex;
  height: auto;
}

.swiper :global(.swiper-button-prev),
.swiper :global(.swiper-button-next) {
  color: #ffffff;
}

.swiper :global(.swiper-button-prev) {
  left: 0;
}

.swiper :global(.swiper-button-next) {
  right: 0;
}
