.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a784a7;
  padding: 3rem 2rem;
}

.container {
  width: 100%;
  max-width: 1200px;
}

/* Ajuste opcional do Swiper */
.swiperWrapper {
  width: 100%;
}
